
html, body {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1,h2,h3,h4,h5 {
    color: white;
}

hr {
    background-color: white;
}

p{
    color: #000000;
}

.space {
    padding-bottom: 15px;
}
.texto {
    text-align: justify;
}